{:builds
 {:test     {:ns-regexp "app.*-spec$"
             :output-to "out/test.js"
             :target :node-test}
  :test-dev {:main "app.core-spec/main"
             :output-to "out/test-dev.js"
             :target :node-script}}
 :dependencies []
 :nrepl {:port 3333}
 :source-paths ["src"]}